:root[theme-mode=light] {
  /* 设置光标颜色 */
  --cursor-data: var(--light-cursor);
  /* 页面背景颜色 */
  --body-background: var(--light-background);

  /* 主题的高亮颜色（例如链接高亮）#2bf #DA70D6 */
  --theme-highlight:	#BA55D3;
  /* 主题的次要颜色（一般用于点缀） */
  --theme-subcolor: #fe2;
  /* 强调颜色（用于重要信息，如错误提示） */
  --theme-stress: #C0392B;

  /* 柱状图第1个颜色 */
  --theme-bar-color-0: #fe2;
  /* 柱状图第2个颜色 */
  --theme-bar-color-1: #fe2b;
  /* 柱状图第3个颜色 */
  --theme-bar-color-2: #fe28;
  /* 柱状图第4个颜色 */
  --theme-bar-color-3: #fe25;

  /* 键盘阴影颜色 */
  --theme-kbd-shadow: #ba2;
  /* 键盘文字颜色 */
  --theme-kbd-text: #000;

  /* 光标颜色 */
  --theme-cursor: #333;
  /* 光标背景颜色（透明度为 0.4） */
  --theme-cursor-bg: #0004;

  /* 鼠标悬停时的文字颜色 */
  --theme-text-hover: #000;

  /* 主要文本颜色 */
  --theme-text: #222;
  /* 较浅的文本颜色 */
  --theme-text-light: #000;
  /* 反色的文本颜色（用于反转的背景） */
  --theme-text-rev: #fff;

  /* 页面背景颜色 */
  --theme-background: #f4f5f6;
  /* 半透明背景颜色（透明度为 0.95） */
  --theme-bg-trans0: rgba(#f4f5f6, 0.85);
  /* 半透明背景颜色（透明度为 0.8） */
  --theme-bg-trans1: rgba(#f4f5f6, 0.7);
  /* 半透明背景颜色（透明度为 0.9） */
  --theme-bg-trans2: rgba(#f4f5f6, .8);
  /* 鼠标悬停时的背景颜色 */
  --theme-bg-hover: #fff;

  /* 浅色背景颜色 */
  --theme-bg-light: #000;
  /* 柔和的半透明背景颜色（透明度为 0.3） */
  --theme-bg-soft: rgba(#fff, .3);
  /* 鼠标悬停时的柔和背景颜色（透明度为 0.6） */
  --theme-bg-soft-hover: rgba(#fff, .6);

  /* 扩展头部的背景颜色 */
  --theme-ex-header: #c0c0c0;

  /* 按钮的背景颜色 */
  --theme-btn-bg: #2a272d;

  /* 边框颜色 */
  --theme-border: #fe2;
  /* 浅色边框颜色 */
  --theme-border-light: #000;
  /* 半透明的边框颜色 */
  --theme-border-soft: rgba(#000, .1);

  /* 不重要信息的颜色 */
  --theme-unimportant: #767676;
  /* 不重要信息的半透明颜色 */
  --theme-unimportant-trans: #76767666;
  /* 不重要信息的另一种颜色 */
  --theme-unimportant-2: #acacac;

  /* 表格的边框颜色 */
  --theme-td-border: #2bf;
  /* 鼠标悬停在表格时的背景颜色 */
  --theme-td-hover: rgba(#2bf, .1);

  /* 标签背景颜色 */
  --theme-tag-bg: #cecece;
  /* 标签计数的背景颜色 */
  --theme-tag-count-bg: #bababa;
  /* 标签的边框颜色 */
  --theme-tag-border: #cecece;

  /* 加载条颜色 */
  --theme-loadingbar: #fff;
  /* 加载失败时的加载条颜色 */
  --theme-loadingbar-fail: #f00;

  /* 隐藏内容的颜色 */
  --theme-hide: #fff;
}
